<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>偏好设置</string>
		<key>prefs</key>
		<array>
			<dict>
				<key>detailText</key>
				<string></string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<true/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>更改应用图标</string>
				<key>selectActionName</key>
				<string>changeIcon</string>
			</dict>
			<dict>
				<key>detailText</key>
				<string></string>
				<key>switchActionName</key>
				<string>handleThemeMode</string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<true/>
				<key>title</key>
				<string>夜间模式</string>
				<key>selectActionName</key>
				<string></string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>header</key>
		<string>反馈</string>
		<key>prefs</key>
		<array>
			<dict>
				<key>detailText</key>
				<string>yuecai.nju@gmail.com</string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>邮件</string>
				<key>selectActionName</key>
				<string>mailAction</string>
			</dict>
			<dict>
				<key>detailText</key>
				<string>@caiyue5</string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>Twitter</string>
				<key>selectActionName</key>
				<string>twitterAction</string>
			</dict>
			<dict>
				<key>detailText</key>
				<string>@CaiYue_</string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>微博</string>
				<key>selectActionName</key>
				<string>weiboAction</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>header</key>
		<string>其它</string>
		<key>prefs</key>
		<array>
			<dict>
				<key>detailText</key>
				<string></string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>App Store 评分</string>
				<key>selectActionName</key>
				<string>rankAction</string>
			</dict>
			<dict>
				<key>detailText</key>
				<string></string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<true/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>致谢</string>
				<key>selectActionName</key>
				<string>thankAction</string>
			</dict>
		</array>
		<key>footer</key>
		<string>PrefsMate 0.2</string>
	</dict>
</array>
</plist>
