<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>Prefs</string>
		<key>prefs</key>
		<array>
			<dict>
				<key>detailText</key>
				<string></string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<true/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>Change Icon</string>
				<key>selectActionName</key>
				<string>changeIcon</string>
			</dict>
			<dict>
				<key>detailText</key>
				<string></string>
				<key>switchActionName</key>
				<string>handleThemeMode</string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<true/>
				<key>title</key>
				<string>Dark Mode</string>
				<key>selectActionName</key>
				<string></string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>header</key>
		<string>Feedback</string>
		<key>prefs</key>
		<array>
			<dict>
				<key>detailText</key>
				<string>yuecai.nju@gmail.com</string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>Mail</string>
				<key>selectActionName</key>
				<string>mailAction</string>
			</dict>
			<dict>
				<key>detailText</key>
				<string>@caiyue5</string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>Twitter</string>
				<key>selectActionName</key>
				<string>twitterAction</string>
			</dict>
			<dict>
				<key>detailText</key>
				<string>@CaiYue_</string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>Weibo</string>
				<key>selectActionName</key>
				<string>weiboAction</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>header</key>
		<string>Other</string>
		<key>prefs</key>
		<array>
			<dict>
				<key>detailText</key>
				<string></string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>Rate</string>
				<key>selectActionName</key>
				<string>rankAction</string>
			</dict>
			<dict>
				<key>detailText</key>
				<string></string>
				<key>switchActionName</key>
				<string></string>
				<key>switchStatus</key>
				<false/>
				<key>hasDisclosure</key>
				<true/>
				<key>hasSwitch</key>
				<false/>
				<key>title</key>
				<string>Thanks</string>
				<key>selectActionName</key>
				<string>thankAction</string>
			</dict>
		</array>
		<key>footer</key>
		<string>PrefsMate 0.3.4</string>
	</dict>
</array>
</plist>
